/* .cardstatus{
    height: 160px;
    background-color:var(--second-color) ;
    box-shadow:7px 7px 11px -4px rgba(0,0,0,025);
    max-width: 280px;
}
.icon{
    font-size:2rem;
    color: var(--main-color);
}
.info{
    color: var(--main-color);
}
.counter{
    font-size: 2rem;
}
.title{
    font-size: 1.2rem;
    font-weight: bold;
} */